<div class="games-list-container">
  <label for="inputGameName">Название игры:</label>
  <input id="inputGameName" type="text" [(ngModel)]="_gameName">
  <button (click)="_createGame()">Создать игру</button>
  <div class="games-list">
    <div *ngFor="let game of _games" class="game">
      <div class="game-name">{{game.name}}</div>
      <div class="game-actions">
        <button (click)="_watchGame(game.id)">Смотреть игру</button>
        <button (click)="_controlGame(game.id)">Управлять игрой</button>
      </div>
    </div>
  </div>
</div>

