.games-list-container {
  gap: 20px;
  padding: 20px;
}

.game {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid lightgray;

  &-name {
    min-width: 120px;
  }

  &-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.game-list-create-game {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
